body ,html{
    height:100%;
}

.navbar-custom {
    background-color: #cc7a00;
}

.navbar a {
    color: 
    #ffffff;

}

.navbar a:hover{
    color:#b3b3b3

}

.navbar .navbar-toggler-icon{
    color:red
}

#base_footer{
    background-color: #cc7a00;

}