{% extends 'core/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet"  href="{% static 'topics/css/topic_detail.css' %}">
{% endblock head %}
{% block content %}
<div class="topic-container container" >
    <section class="row">
    <h2 id="topic-title" class="col-md-8">{{topic.title}}</h2>
    {% if topic.pic %}
        <section class="topic_image">
            <img src="{{topic.pic.url}}" > 
        </section>
    {% endif %}
    </section>

    <div id="topic-text">{{topic.text|safe}}</div>
</div>
{% endblock content %}