{% extends "core/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/homepage.css' %}">
{% endblock head %}
{% block page_title %}
homepage
{% endblock page_title %}
{% block content %}
<div class="container mt-2 row m-auto text-center">
    {% for topic in topics %}
    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
        <a href="{{topic.get_absolute_url}}" class="text-dark text-decoration-none ">
            <p class="text-center">{{topic.title}}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}